<h1>Seja Bem-Vindo</h1>
<p>Data : <%= data_br(Date.today) %> </p>

<%= render "menu" %>

<p>
    Voce está em ambiente de <strong> <%= ambiente_rails %> </strong>
</p>

<p> Bem vindo Desenvolvedor: <strong> <%= @nome %></p> </strong>
<p> Do curso <strong> <%= @curso %> </strong>
