<h1>Seja Bem-Vindo</h1>
<p>
    <%= link_to 'Portugues', root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to 'Ingles', root_path(locale: 'en') %>
</p>
<p>
    <%= link_to 'Espanhol', root_path(locale: 'es-ES') %>
</p>
<p>Data : <%= t(Date.today) %> </p>
<P> A linguagem da página está em <strong> <%= default_locale %> </strong>

<%= render "menu" %>

<p>
    Voce está em ambiente de <strong> <%= ambiente_rails %> </strong>
</p>

<p> Bem vindo Desenvolvedor: <strong> <%= @nome %></p> </strong>
<p> Do curso <strong> <%= @curso %> </strong>
