<div id="<%= dom_id mining_type %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.coin.description') %> </strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.coin.acronym') %> </strong>
    <%= mining_type.acronym %>
  </p>

</div>
