<p style="color: green"><%= notice %></p>

<h1>Tipos de Moedas</h1>

<div id="mining_types">
  <% @mining_types.each do |mining_type| %>
    <%= render mining_type %>
    <p>
      <%= link_to "Mostrar", mining_type %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Tipo de Moeda", new_mining_type_path %>
<p> <%= link_to "Menu", '/welcome/index' %>
