<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to "Editar", edit_mining_type_path(@mining_type) %> |
  <%= link_to "Voltar", mining_types_path %>

  <%= button_to "Excluir", @mining_type, method: :delete %>
</div>
