<div id="<%= dom_id coin %>">
  <p>
    <strong> <%= I18n.t('activerecord.attributes.coin.description') %> </strong>
    <%= coin.description %>
  </p>

  <p>
    <strong> <%= I18n.t('activerecord.attributes.coin.acronym') %> </strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong> <%= I18n.t('activerecord.attributes.coin.url_image') %> </strong>
    <%= image_tag coin.url_image, width: 25, height: 25 %>
  </p>

</div>
